@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --bg01: #0F051D;
    --bg02: #fff;
    --Main01: #ff00ea;
    --Main02: #2600fc;
    /* --bg05: #741ff5; */
    --bg06: linear-gradient(25deg, var(--Main01), var(--Main02));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a,
button,
input {
    outline: none;
    border: none;
    text-decoration: none;
    user-select: none;
}

::selection {
    color: #fff;
    background: #741ff5;


}

/* ::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-image: -webkit-linear-gradient(25deg, var(--Main01), var(--Main02));
} */

body {
    background-color: var(--bg01);
}

.stBtn {
    left: 0;
    top: 0;
    z-index: 100;
    position: fixed;
    transform: translateY(240%);
}

.stBtn button {

    backdrop-filter: blur(4px);
    border-radius: 4px;
    padding: 5px 10px;
    width: 55px;
    height: 54px;
    position: relative;
    animation: spin 1.5s linear infinite;
    background: linear-gradient(var(--rotate), var(--Main01), var(--Main02));
}

.stBtn button::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    border-radius: 4px;
    bottom: -2px;
    z-index: -1;
    background: rgb(15 5 29);
    scale: 0.9;
}

.stBtn button i {
    font-size: 25px;
    color: #FFF;
    background: var(--bg06);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.switcher span.active {
    border: 2px solid #000;
}

.switcher.active {
    transform: translateX(0%);
}

.switcher {
    position: fixed;
    left: 0;
    top: 195px;
    display: flex;
    gap: 20px;
    transform: translateX(-200%);
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.switcher span {
    padding: 20px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

#color01 {
    background: linear-gradient(25deg, #ff00ea, #2600fc);
}

#color02 {
    background: linear-gradient(to right, #00c6ff, #0072ff);
}

#color03 {
    background: linear-gradient(45deg, #70F570, #49C628);
}

#color04 {
    background: linear-gradient(135deg, #f9d423, #f83600);
}




section {
    position: relative;
    padding: 290px 50px 200px 50px;
}

.header {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 9;
    padding: 10px 0;
    height: auto;
}

.header.sticky {
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    z-index: 9;
    padding: 10px 0;
    background: rgba(103, 103, 103, 0.099);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    animation: 500ms ease-in-out 0s fadeInDown;
    z-index: 9;
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1310px !important;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-grow: 1;
}

nav .logo a img {
    width: 40px;
}



.navbar ul {
    display: flex;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.navbar ul li {
    display: block;
    position: relative;
    list-style: none;
}

.navbar ul li a {
    text-transform: capitalize;
    color: #fff;
    padding: 30px 16px;
    display: block;
    line-height: 1;
    position: relative;
    z-index: 1;
    outline: none;
    text-decoration: none;
    font-weight: 600;
    font-family: Poppins;
    font-size: 16px;
}

.btn_area .btn {
    position: relative;
    color: #FFF;
    padding: 10px 24px;
    align-items: center;
    font-size: 16px;
    text-align: center;
    display: flex;
    border-radius: 50px;
    background: linear-gradient(var(--rotate), var(--Main01), var(--Main02));

    border: none;
    font-weight: 600;

}

.btn_area .btn:hover {
    animation: spin 2.5s linear infinite;
}

.OC_btn {
    background: transparent;
    font-size: 20px;
    padding: 20px;
    color: #fff;
    display: none;
}


.mobile_menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    padding-right: 30px;
    max-width: 100%;
    height: 100vh;
    z-index: 99;
    border-radius: 0px;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform: translateX(100%);
    display: none;
}

.open_mobilemenu {
    right: 0;
    transform: translateX(0%);
    display: none;
}

.mobile_menu .mobile_nav {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 0px;
    background-color: var(--bg01);
    z-index: 5;
}



.mobile_menu .mobile_nav::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-image: var(--bg06);
}

.mobile_menu .mobile_nav .closebtn {
    position: absolute;
    right: 15px;
    top: 28px;
    line-height: 30px;
    width: 35px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
    transform: rotate(0deg);
    transition: all 0.5s ease;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: var(--bg06);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mobile_menu .mobile_nav .closebtn:hover {
    transform: rotate(360deg);
}

.mobile_nav .mblogo {
    position: relative;
    padding: 30px 25px;
    text-align: left;
}

.mobile_nav .mblogo h2 {
    color: #fff;
    font-size: 18px;
}



.mobile_bar ul {
    position: relative;
    display: block;
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
}

.mobile_bar ul .Mbnav_item {
    position: relative;
    display: block;

}

.mobile_bar ul .Mbnav_item a {
    position: relative;
    display: block;
    line-height: 1.5;
    padding: 10px 60px 10px 25px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    border: none;
}

.mobile_bar ul .Mbnav_item a:hover {
    background: var(--bg06);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner_content {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}

.banner_content .Cnt_info {
    width: 58%;
    position: relative;
}

.banner_content .Cnt_img {
    width: 58%;
}

.banner_content .Cnt_info .title_inner h2 {
    font-size: 50px;
    margin-bottom: 15px;
    line-height: 1;
    color: #fff;
}

.banner_content .Cnt_info .title_inner .title_animation p {
    color: #FFF;
    font-size: 45px;
    font-weight: bold;
    white-space: nowrap;
    user-select: none;
    text-transform: capitalize;

}

.banner_content .Cnt_info .title_inner .title_animation span {
    background: var(--bg06);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner_content .Cnt_info .title_inner .title_animation {
    width: 100%;
    height: 75px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

.Cnt_info .title_inner .title_animation p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #000;
    opacity: 0;
    transition: all 0.6s ease;
}

.Cnt_info .title_inner .title_animation p.visible {
    top: 0;
    opacity: 1;
    animation: slide-in .6s;
    transition: all 0.6s ease;
}

.Cnt_info .title_inner .title_animation p.hidden {
    animation: slide-out .6s;
    transition: all 0.6s ease;
}

@keyframes slide-in {
    0% {
        opacity: 1;
        transform: translateY(-100%)
    }

    55% {
        opacity: 1;
        transform: translateY(20%)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes slide-out {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    55% {
        opacity: 0;
        transform: translateY(100%)
    }

    100% {
        opacity: 0;
        transform: translateY(-110%)
    }
}

.banner_content .Cnt_info .description p {
    color: #b7b4bb;
    font-size: 17px;
}

.banner_content .Cnt_info .btn_area .btn {
    font-size: 18px;
    padding: 15px 20px;
    margin: 45px 0px 20px 0px;
}

.banner_content .Cnt_info .btn_area .btn i {
    margin-left: 14px;
}

.Ecnt01,
.Ecnt02 {
    position: absolute;
    display: block;
}

.Ecnt01 {
    top: -100px;
    left: 70px;
}

.Ecnt01 img {
    width: 50px;
}

.Ecnt02 {
    left: 310px;
}

.Ecnt02 img {
    width: 40px;
}


.banner_content .Cnt_img {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner_content .Cnt_img .box {
    display: block;
    position: relative;
}

.banner_content .Cnt_img .banner_img {
    position: relative;
    display: flex;
    width: 350px;
    height: 350px;
    background-color: #081021 !important;
    border-radius: 30px;
}

.banner_content .Cnt_img .banner_img::before {
    content: '';
    display: block;
    background: linear-gradient(var(--rotate), var(--Main01), var(--Main02));
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1 !important;
    left: 0;
    top: 0;
    border-radius: 33px;
    animation: spin 2.5s linear infinite;
    scale: 1.056;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.185);
}

.banner_content .Cnt_img .banner_img::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(1.1);
    background: linear-gradient(var(--rotate), var(--Main01), var(--Main02));
    transition: opacity .5s;
    animation: spin 2s linear infinite;
    z-index: -2;
    filter: blur(80px);
    border-radius: 40px;
    opacity: 0.3;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}


.banner_content .Cnt_img .banner_img img {
    position: absolute;
    scale: 1.2;
    width: 100%;
    top: -36px;
}



.EImg02 {
    position: absolute;
    right: 2px;
    top: -120px;
    display: block;
}

.EImg02 img {
    width: 20px;
}

.EImg01 {
    position: absolute;
    right: 400px;
    top: 390px;
}

.EImg01 img {
    width: 25px;
    animation: E01i 5s linear 0s infinite;
}

@keyframes E01i {
    0% {
        transform: rotate(0)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.follow_Area {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: rotate(90deg);
    max-width: 330px;
    bottom: 50%;
    left: -40%;
    gap: 25px;
}

.follow_Area span {
    color: #fff;
    position: relative;
    padding-right: 72px;
    font-size: 17px;
    font-weight: 500;
}

.follow_Area span::before {
    content: "";
    position: absolute;
    border: 0;
    width: 50px;
    height: 1.3px;
    background: #fff;
    z-index: 1;
    margin-left: 0;
    right: 0;
    top: 13px;
}

.flw_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.flw_icon a {
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease;

}

.flw_icon a:hover {
    background: var(--bg06);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flw_icon a i {
    transform: rotate(-90deg);
}


.headTitle {
    text-transform: uppercase !important;
    line-height: 1;
    margin: 0 0;
    font-size: 52px;
    color: #fff;
    text-align: center;
    margin-bottom: 100px;
}

.headTitle span {

    background-image: var(--bg06);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about,
.subr,
.services,
.Project,
footer {
    padding: 130px 50px 130px 50px;
}

.aboutimg,
.AboutCnt {
    width: 50%;
}

.aboutimg {
    margin-right: 50px;
}

.aboutimg img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;

}

.AboutCnt {
    margin-left: 40px;
}

.AboutInfo .subT {
    text-transform: uppercase;
    display: inline-flex;
    font-weight: var(--tg-fw-bold);
    margin: 0 0 10px;
    font-weight: bold;

    background-image: var(--bg06);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.AboutInfo h2,
.subnews h2,
.services_info h2,
footer h2 {
    font-size: 64px;
    line-height: 1;
    margin: 0 0;
    color: #fff;
}

.AboutInfo h2 span,
.subnews h2 span,
.services_info h2 span,
footer h2 span {

    background-image: var(--bg06);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.AboutInfo p,
.services_info p,
footer p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0 0 0;
    color: #b7b4bb;
}

.AboutInfo button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    padding: 16px 35px;
    font-weight: 500;
    border-radius: 50px;
    line-height: 1;
    text-transform: capitalize;
    margin: 42px 0 0;
    background: transparent;
    color: #fff;
    background: var(--bg06);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
    border: 2px solid rgba(255, 255, 255, 0.206);
}

.AboutInfo button:hover {
    color: #fff;
}


.services_area .services_info {
    max-width: 100%;
    width: 40%;
    padding: 0px 15px;
    margin-bottom: 20px;
}

.services_area .services_card {
    max-width: 100%;
    width: 58%;
    padding: 0px 15px;
}

.services_area {
    width: 100%;
    display: flex;
}

.services_info .svg01 {
    margin: 42px 0 42px;
}


.services_card {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    align-items: start;
    margin: 0 0 0 35px;

}

.card {
    min-height: 300px;
    padding: 32px;
    border-radius: 32px;
    background: rgb(15, 5, 29);
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    border-radius: 32px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(333deg, var(--Main01), #0F051D, #0F051D, var(--Main02));
}

.card:nth-child(1) {
    margin: 0 0;
}

.card:nth-child(2) {
    margin: 48px 0 0;
}

.card:nth-child(odd) {
    margin: -48px 0 0;
}

.card img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 16px;
    color: #fff;
    padding: 10px;
    background-image: linear-gradient(25deg, var(--Main01), var(--Main02));
    margin: 0 0 24px;
}

.card h3 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 17px;
    color: #fff;
}

.card p {
    color: #b7b4bb;
}

.services .banner_content {
    position: relative;
}

.services .banner_content .serimg {
    position: absolute;
    scale: 0.6;
    top: -42px;
}

.services .banner_content .serimg02 {
    position: absolute;
    scale: 0.3;
    bottom: -3px;
    right: -81px;
}


.card_area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

.cardBlg {
    position: relative;
    background: rgb(15 5 29);
    border-radius: 24px;
    padding: 30px;
    flex: 0 0 auto;
    max-width: 100%;
    width: 30%;
}

.cardBlg::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    border-radius: 24px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(333deg, var(--Main01), #0F051D, #0F051D, var(--Main02));
}

.discunt {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2px;
    line-height: 0.9;
    border-radius: 50%;
    background-image: linear-gradient(25deg, var(--Main01), var(--Main02));
    font-weight: bold;
    margin: 16px;
}

.discunt span {
    color: #fff !important;
}

.cardBlg .sub {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1;
    background-image: linear-gradient(25deg, var(--Main01), var(--Main02));
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 22px;
    display: block;
}

.cardBlg h4 {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1;
    margin: 0 0 26px;
    display: block;
    color: #fff;
    font-weight: bold;
}

.cardBlg p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0;
    color: #b7b4bb;
}

.cardBlg .checkbox {
    margin-top: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.cardBlg .checkbox span {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.cardBlg .checkbox span i {
    margin-right: 15px;
    font-size: 20px;
    background-image: var(--bg06);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1px;
}

.Project .banner_content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;

}

.listproj {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30.5%;
    flex-direction: column;
    flex-wrap: wrap;
}

.Project .banner_content .listproj h2 {
    font-size: 72px;
    line-height: 1;
    margin: 0 0 23px;
    background-image: var(--bg06);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Project .banner_content .listproj p {
    display: block;
    font-size: 18px;
    line-height: 1.7;
    color: #b7b4bb;
}

.svg01 {
    width: 80px;
    margin: 35px auto;
}

.subr .banner_content {
    background: rgb(15 5 29);
    border-radius: 32px;
    position: relative;

}

.subr .banner_content::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    border-radius: 32px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(333deg, var(--Main01), #0F051D, #0F051D, var(--Main02))
}

.subnews {
    position: relative;
    padding: 60px 56px;

}

.subnews .simg1 {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    top: 6%;
    left: 0%;
    transition: all 0s ease-out 0s;
    position: absolute;
    scale: 0.5;
}

.subnews p {
    margin: 20px 0 0;
    color: #b7b4bb;
    text-align: center;
}

.newsletter__form {
    max-width: 610px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px auto 0;
}

.newsletter__form input {
    display: block;
    flex-grow: 1;
    width: 100%;
    border: none;
    background: rgb(255 255 255 / 5%);
    padding: 12px 25px;
    border-radius: 50px;
    height: 54px;
    color: #fff;
}

.newsletter__form input::placeholder {
    font-size: 16px;
    color: #b7b4bb;
}

.newsletter__form .btn {
    padding: 17px 35px;
    margin-left: 10px;
    border-radius: 50px;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    background: linear-gradient(var(--rotate), var(--Main01), var(--Main02));
}

.newsletter__form .btn:hover {
    animation: spin 2.5s linear infinite;
}

.simg2 {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    bottom: -1%;
    right: -6%;
    box-shadow: none;
    transition: all 0s ease-out 0s;
    position: absolute;
    scale: 0.3;
}


footer .banner_content {
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

footer .banner_content .btn {
    position: relative;
    color: #FFF;
    padding: 21px 40px;
    align-items: center;
    font-size: 18px;
    text-align: center;
    display: flex;
    border-radius: 50px;
    background: linear-gradient(var(--rotate), var(--Main01), var(--Main02));
    border: none;
    font-weight: 600;
    margin: 50px 0 0 0;
}

footer .banner_content .btn {
    animation: spin 2.5s linear infinite;
}

footer .fimg {
    position: absolute;
    scale: 0.6;
    left: 0;
    top: 0;
}

footer .fimg2 {
    position: absolute;
    scale: 0.8;
    scale: 0.4;
    right: 0;
    bottom: 50px;
}

.footersocal {
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0 0;
    gap: 15px 25px;
}

.footersocal a {
    font-size: 35px;
    color: #b7b4bb;
    opacity: 1;
    line-height: 1;
}

.copyright .copyinfo a {
    color: #b7b4bb;
    font-size: 16px;
    line-height: 1.7;
}

.copyright {
    margin: 120px 0 0;
    padding: 30px 0 0;
    border-top: 1px solid rgba(131, 131, 131, 0.25);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.year p {
    color: #b7b4bb;
    font-size: 16px;
    margin: 0px;
    line-height: 1.7;
}